<div class="container-fluid mt-4 mb-3 p-3 card shadow-lg bg-white rounded border-0" style="width: auto;">
    <div class="d-flex justify-content-between align-items-center py-5 px-4">
        <div>
            <div class="mx-5">
                <h2 class="h2">Sign Up to Start Buying your</h2>
                <h2 class="h2">Dream Home</h2>
                <h6 class="h6 pb-1">Have an account?<a href="../signin" class="link">Log in</a></h6>
                <img src="../../assets/signup.png" class="img-fluid" />
            </div>
        </div>
        <div>
            <div class="mx-5">
                <h4 class="h2 text-center">Sign Up</h4>
                <form (ngSubmit)="signUpSubmit(signUpForm)" #signUpForm="ngForm">
                    <div class="mb-4">
                        <label for="first-name" class="form-label lsp weig1 mt-5">First Name</label>
                        <input type="text" class="form-control mt-2 pd py-3 lsp weig3 border-0 brad" id="first-name"
                            name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="John"
                            required />
                        <p class="small text-danger my-2" *ngIf="firstName.dirty && firstName.invalid">
                            First Name can't be empty !
                        </p>
                    </div>

                    <div class="mb-4">
                        <label for="last-name" class="form-label lsp weig1">Last Name</label>
                        <input type="text" class="form-control mt-2 pd py-3 lsp weig3 border-0 brad" id="last-name"
                            name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="Doe" />
                    </div>

                    <div class="mb-4">
                        <label for="username" class="form-label lsp weig1">Username</label>
                        <input type="text" class="form-control mt-2 pd py-3 lsp weig3 border-0 brad" id="username"
                            name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="JohnDoe19"
                            required />
                        <p class="small text-danger my-2" *ngIf="username.dirty && username.invalid">
                            Username can't be empty !
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label lsp weig1">Password</label>
                        <input type="password" class="form-control mt-2 pd py-3 lsp weig2 border-0 brad" id="password"
                            name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="********"
                            required />
                        <p class="small text-danger my-2" *ngIf="password.dirty && password.invalid">
                            Password can't be empty !
                        </p>
                    </div>

                    <button type="submit" class="btn color px-5 lsp mt-5 shadow bg-success"
                        style="margin:auto;display:block" [disabled]="signUpForm.pristine || signUpForm.invalid">
                        SIGNUP
                    </button>
                </form>

                <div class="alert alert-success d-flex align-items-center mt-2" role="alert" *ngIf="successFlag">
                    <i class="material-icons">check_circle</i>
                    <div class="ms-2">
                        New user created successfully ! Click
                        <a routerLink="/signin">here</a> to login.
                    </div>
                </div>

                <div class="alert alert-danger d-flex align-items-center mt-2" role="alert" *ngIf="errorFlag">
                    <i class="material-icons"> warning </i>
                    <div class="ms-2">
                        There was an unexpected error. We couldn't complete your request.
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>