<div id="hero-box" class="mt-3 border rounded bg-dark position-relative" style="height: 400px;">
    <div class="border rounded position-absolute top-50 left-100">
        <form class="row row-cols-lg-auto g-3 align-items- p-2">
            <div class="col-12">
                <label for="cities">City</label>
                <div class="input-group">
                    <select class="form-select" id="cities">
                        <option *ngFor="let location of locations">{{ location.city }}</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <label for="category">Category</label>
                <select class="form-select" id="category">
                    <option *ngFor="let category of categories">{{ category.name }}</option>
                </select>
            </div>

            <div class="col-12">
                <label for="price">Price</label>
                <select class="form-select" id="price">
                    <option value="0" selected> --- </option>
                    <option value="1"> 5k-10k </option>
                    <option value="2"> 10k-15k </option>
                    <option value="3"> 15k-20k </option>
                    <option value="4"> above 20k </option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-secondary mt-3">Search</button>
            </div>
        </form>
    </div>
</div>