
/* Hero Box Start */
#hero-box {
    background-color: #e0ebed;
    border-radius: 20px;
}

.heading-big {
    color: #016450;
    letter-spacing: 5px;
    font-size: 2rem;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    line-height: 2rem;
}
.cont-med {
    color: #999999;
    letter-spacing: 1px;
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI SemiBold");
    font-size: medium;
    text-align: justify;
    line-height: 1.5rem;
}

#hero-img {
    max-width: 100%;
    margin-bottom: -25px;
}
#dots-img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
}

#filter-part {
    background-color: #ffffff;
    border-radius: 15px;
}

#search-btn {
    background-color: #016450;
    color: #ffffff;
}

.label-style {
    border-radius: 7px;
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI SemiBold");
    letter-spacing: 1.5px;
}

@media (min-width: 992px) {
    #dots-img {
        width: 100px;
        height: 100px;
    }
    #form-container {
        position: absolute;
        top: 75%;
        left: 5%;
    }
}

@media (max-width: 991px) {
    #hero-box {
        background-image: url("../../assets/heroimg.png");
    }
}
/* Hero Box End */


/* Dashboard starts */
#dashboard {
    background-color: rgba(1, 100, 80, 0.1);
    margin: 100px -8.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

#dashboard .row a.btn:hover{
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.btn-green {
    background-color: #016450;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    letter-spacing: 1.5px;
    color: #ffffff;
}
/* Dashboard end */

.heading-med {
    letter-spacing: 5px;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}

.heading-small {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}

.content-small {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI SemiBold");
    letter-spacing: 1.5px;
    font-size: 14px;
}

#review-card {
    max-height: 200px;
    overflow: hidden;
}

#review-card:hover {
    transform: scale(1.1, 1.1);
    cursor: default;
}