<div class="container">

    <!-- Highligther Text -->
    <div>
        <h6 class="headtextdes">YOUR DREAM HOME's</h6>
    </div>

    <!-- Card-1 -->
    <div class="card carddes border-0 shadow-lg postion-relative" style="border-radius: 15px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="../../assets/photoBuilding.png" class="img-fluid rounded-start m-3" alt="buildingimg"
                    style="height: 40vh;" />
            </div>
            <div class="col-md-8">
                <div class="card-body ms-5 mt-4">

                    <!-- Main Data -->
                    <h5 class="cardtitledes">Harrison Apartments</h5>
                    <h6 class="mt-3 featuredes">
                        <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid me-2"
                                style="height: 20px;"></span>Bandra,West,Mumbai-36
                    </h6>
                    <img class="mt-2"
                        src="https://raw.githubusercontent.com/parithoshpoojary/property-listing/resources/Resources%20-%20Main/Images/star_rating.png" />

                    <!-- Aminities -->
                    <div class="d-flex justify-content-start">
                        <div class="me-2 mt-5 pe-5 ">
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Finished Baths
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Spacious Bedrooms
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Luxuries Livings
                            </h5>
                        </div>
                        <div class="me-3 mt-5 aminities">
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Ample Parking Space
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Play Area
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Tennis Court
                            </h5>
                        </div>
                    </div>

                    <!-- Buttons "ROUTING NEEDED"-->
                    <div class="position-absolute top-0 end-0">
                        <a href="#" type="button" class="btn button1 my-3 me-3 px-4 py-3" aria-current="page">
                            REMOVE
                            <span><img src="../../assets/removeicon.png" alt="arrow" class="img-fluid ms-3"
                                    style="height: 20px" /></span>
                        </a>
                        <a href="#" type="button" class="btn button1 me-3 py-3 px-4" aria-current="page">
                            ADD TO CART
                            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow"
                                    class="img-fluid ms-3" style="height: 20px" /></span>
                        </a>
                    </div>
                    <!-- Buttons - END -->

                    <!-- Price -->
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <h5 class="cardtitledes">Rs. 1,50,000/-</h5>
                    </div>
                    <!-- Price - END-->
                </div>
            </div>
        </div>
    </div>

    <!-- Card-2 -->
    <div class="card carddes border-0 shadow-lg postion-relative" style="border-radius: 15px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="../../assets/newimglisting/Heroboximg.png" class="img-fluid rounded-start m-3"
                    alt="buildingimg" style="height: 40vh;" />
            </div>
            <div class="col-md-8">
                <div class="card-body ms-5 mt-4">

                    <!-- Main Data -->
                    <h5 class="cardtitledes">Harrison Apartments</h5>
                    <h6 class="mt-3 featuredes">
                        <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid me-2"
                                style="height: 20px;"></span>Bandra,West,Mumbai-36
                    </h6>
                    <img class="mt-2"
                        src="https://raw.githubusercontent.com/parithoshpoojary/property-listing/resources/Resources%20-%20Main/Images/star_rating.png" />

                    <!-- Aminities -->
                    <div class="d-flex justify-content-start">
                        <div class="me-2 mt-5 pe-5 ">
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Finished Baths
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Spacious Bedrooms
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Luxuries Livings
                            </h5>
                        </div>
                        <div class="me-3 mt-5 aminities">
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Ample Parking Space
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Play Area
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Tennis Court
                            </h5>
                        </div>
                    </div>

                    <!-- Buttons "ROUTING NEEDED"-->
                    <div class="position-absolute top-0 end-0">
                        <a href="#" type="button" class="btn button1 my-3 me-3 px-4 py-3" aria-current="page">
                            REMOVE
                            <span><img src="../../assets/removeicon.png" alt="arrow" class="img-fluid ms-3"
                                    style="height: 20px" /></span>
                        </a>
                        <a href="#" type="button" class="btn button1 me-3 py-3 px-4" aria-current="page">
                            ADD TO CART
                            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow"
                                    class="img-fluid ms-3" style="height: 20px" /></span>
                        </a>
                    </div>
                    <!-- Buttons - END -->

                    <!-- Price -->
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <h5 class="cardtitledes">Rs. 1,50,000/-</h5>
                    </div>
                    <!-- Price - END-->
                </div>
            </div>
        </div>
    </div>

    <!-- Card-3 -->
    <div class="card carddes border-0 shadow-lg postion-relative" style="border-radius: 15px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="../../assets/newimglisting/Equitable-exterior.png" class="img-fluid rounded-start m-3"
                    alt="buildingimg" style="height: 40vh;" />
            </div>
            <div class="col-md-8">
                <div class="card-body ms-5 mt-4">

                    <!-- Main Data -->
                    <h5 class="cardtitledes">Harrison Apartments</h5>
                    <h6 class="mt-3 featuredes">
                        <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid me-2"
                                style="height: 20px;"></span>Bandra,West,Mumbai-36
                    </h6>
                    <img class="mt-2"
                        src="https://raw.githubusercontent.com/parithoshpoojary/property-listing/resources/Resources%20-%20Main/Images/star_rating.png" />

                    <!-- Aminities -->
                    <div class="d-flex justify-content-start">
                        <div class="me-2 mt-5 pe-5 ">
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Finished Baths
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Spacious Bedrooms
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Luxuries Livings
                            </h5>
                        </div>
                        <div class="me-3 mt-5 aminities">
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Ample Parking Space
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Play Area
                            </h5>
                            <h5 class="mb-5 aminities" style="font-size: 16px;">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow"
                                        class="img-fluid" style="height: 16px" /></span>Tennis Court
                            </h5>
                        </div>
                    </div>

                    <!-- Buttons "ROUTING NEEDED"-->
                    <div class="position-absolute top-0 end-0">
                        <a href="#" type="button" class="btn button1 my-3 me-3 px-4 py-3" aria-current="page">
                            REMOVE
                            <span><img src="../../assets/removeicon.png" alt="arrow" class="img-fluid ms-3"
                                    style="height: 20px" /></span>
                        </a>
                        <a href="#" type="button" class="btn button1 me-3 py-3 px-4" aria-current="page">
                            ADD TO CART
                            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow"
                                    class="img-fluid ms-3" style="height: 20px" /></span>
                        </a>
                    </div>
                    <!-- Buttons - END -->

                    <!-- Price -->
                    <div class="position-absolute bottom-0 end-0 mb-5 me-4">
                        <h5 class="cardtitledes">Rs. 1,50,000/-</h5>
                    </div>
                    <!-- Price - END-->
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-end">
        <div class="me-5">
            <h5 class="my-4 billdes">SUBTOTAL</h5>
            <h5 class="mb-5 billdes">TAX</h5>
            <h5 class="billdesgt">GRAND TOTAL</h5>
        </div>
        <div class="ms-5 mb-5">
            <h5 class="my-4 billdes">Rs. 5,50,000/-</h5>
            <h5 class="mb-5 billdes">Rs. 1,50,000/-</h5>
            <h5 class="billdesgt">Rs. 7,00,000/-</h5>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-5">
        <a href="#" type="button" class="btn button1 my-3 me-3 px-4 py-3" aria-current="page">
            <span><img src="../../assets/leftarrow.png" alt="arrow" class="img-fluid me-3"
                    style="height: 20px" /></span>CONTINUE SHOPPING
        </a>
        <a href="#" type="button" class="btn blcolor my-3 me-3 px-4 py-3 shadow" aria-current="page">
            VIEW CART
            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart_white.png" alt="arrow" class="img-fluid ms-3"
                    style="height: 20px" /></span>
        </a>
    </div>
</div>