/*  */
.box1{
    background-color: #e0ebed;
    border-radius: 20px;
}
.h1 {
    color: #016450;
    letter-spacing: 5px;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    line-height: 3rem;
  }
.h2 {
    color: #999999;
    letter-spacing: 1px;
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI SemiBold");
    font-size: medium;
    text-align: justify;
    line-height: 25px;
  } 
.hero{
    width: 100%;
    height:auto;
}
.dem{
    background-color: #ffffff;
    border-radius: 15px;
}
.good{
    background-color: #016450;
    color:#ffffff;
}
.bomb{
    top: 77%;
    left: 7%;
}
.brdcnr{
    border-radius: 7px;
}

