
<!--Footer-->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item lsp">
                    <h3>Services</h3>
                    <ul>
                        <li class="py-2"><a href="#">Buy Property</a></li>
                        <li class="py-2"><a href="#">Rent a House</a></li>
                        <li class="py-2"><a href="#">Rent Apartment</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item lsp">
                    <h3>About</h3>
                    <ul>
                        <li class="py-2"><a href="#">Company</a></li>
                        <li class="py-2"><a href="#">Reviews</a></li>
                        <li class="py-2"><a href="#">Locate Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text lsp">
                    <h3>Property Listing</h3>
                    <p class="py-2">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut
                        vehicula
                        rhoncus
                        elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
                    </p>
                </div>
                <div class="col item social pt-3"><a href="http://www.facebook.com/"><i
                            class="icon ion-social-facebook"></i></a><a href="https://www.twitter.com/"><i
                            class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com/"><i
                            class="icon ion-social-snapchat"></i></a><a href="https://www.instgram.com/"><i
                            class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright lsp">PostBook © 2021</p>
        </div>
    </footer>
</div>